# Sorting, Counting, Subset

## Import libraries

In [10]:
## import libraries
import pandas as pd

## Upload Olympics datasets to this notebook.

### Import ```olympics-summer.csv``` and store in a dataframe called ```dfs``` (<a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-summer.csv">link</a>).


### Import ```olympics-winter.csv``` and store in a dataframe called ```dfw``` (<a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-winter.csv">link</a>).

In [12]:
dfs = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-summer.csv")
dfs

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
0,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN
1,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN
2,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN
3,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN
4,4113,Anastasios Andreou,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Athletics,Athletics Men's 110 metres Hurdles,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
222547,135528,Marc Zwiebler,M,32.0,181.0,75.0,Germany,GER,2016,Rio de Janeiro,Badminton,Badminton Men's Singles,NaN
222548,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 100 metres,NaN
222549,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 200 metres,NaN
222550,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 4 x 100 metres Relay,NaN
222551,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

In [13]:
dfw = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-summer.csv")
dfw

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
0,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN
1,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN
2,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN
3,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN
4,4113,Anastasios Andreou,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Athletics,Athletics Men's 110 metres Hurdles,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
222547,135528,Marc Zwiebler,M,32.0,181.0,75.0,Germany,GER,2016,Rio de Janeiro,Badminton,Badminton Men's Singles,NaN
222548,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 100 metres,NaN
222549,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 200 metres,NaN
222550,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 4 x 100 metres Relay,NaN
222551,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

In [21]:
dfs = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-summer.csv")
dfs

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
0,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN
1,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN
2,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN
3,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN
4,4113,Anastasios Andreou,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Athletics,Athletics Men's 110 metres Hurdles,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
222547,135528,Marc Zwiebler,M,32.0,181.0,75.0,Germany,GER,2016,Rio de Janeiro,Badminton,Badminton Men's Singles,NaN
222548,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 100 metres,NaN
222549,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 200 metres,NaN
222550,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 4 x 100 metres Relay,NaN
222551,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

In [20]:


dfw = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-winter.csv")
dfw

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
0,391,Clarence John Abel,M,23.0,185.0,102.0,United States,USA,1924,Chamonix,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver
1,992,Josef Adolf,M,25.0,NaN,NaN,Czechoslovakia,TCH,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN
2,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN
3,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Cross Country Skiing,Cross Country Skiing Men's 18 kilometres,NaN
4,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48559,135485,Stepan Olegovich Zuyev,M,25.0,189.0,90.0,Russia,RUS,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
48560,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
48561,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
48562,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
48563,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN

In [16]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222552 entries, 0 to 222551
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            222552 non-null  int64
 1   Athlete Name  222552 non-null  object
 2   Sex           222552 non-null  object
 3   Age           213363 non-null  float64
 4   Height        170695 non-null  float64
 5   Weight        168698 non-null  float64
 6   Team          222552 non-null  object
 7   NOC           222552 non-null  object
 8   Year          222552 non-null  int64
 9   City          222552 non-null  object
 10  Sport         222552 non-null  object
 11  Event         222552 non-null  object
 12  Medal         34088 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 22.1+ MB

In [15]:
#filtered data 
df_sub = dfw[["Year", "City", "Team"]]
df_sub

        Year            City        Team
0       1896          Athina      Greece
1       1896          Athina    Greece-3
2       1896          Athina      Greece
3       1896          Athina    Greece-3
4       1896          Athina      Greece
...      ...             ...         ...
222547  2016  Rio de Janeiro     Germany
222548  2016  Rio de Janeiro  Kazakhstan
222549  2016  Rio de Janeiro  Kazakhstan
222550  2016  Rio de Janeiro  Kazakhstan
222551  2016  Rio de Janeiro     Belarus

[222552 rows x 3 columns]

In [30]:
dfw.filter(["Year", "City", "Team"])

       Year      City            Team
0      1924  Chamonix   United States
1      1924  Chamonix  Czechoslovakia
2      1924  Chamonix     Switzerland
3      1924  Chamonix     Switzerland
4      1924  Chamonix     Switzerland
...     ...       ...             ...
48559  2014     Sochi          Russia
48560  2014     Sochi          Latvia
48561  2014     Sochi          Latvia
48562  2014     Sochi          Poland
48563  2014     Sochi          Poland

[48564 rows x 3 columns]

In [22]:
dfw.filter(like="eight")

       Height  Weight
0       185.0   102.0
1         NaN     NaN
2         NaN     NaN
3         NaN     NaN
4         NaN     NaN
...       ...     ...
48559   189.0    90.0
48560   185.0    87.0
48561   185.0    87.0
48562   176.0    59.0
48563   176.0    59.0

[48564 rows x 2 columns]

In [25]:
# Athlete's names A-Z

dfw.sort_values(by= "Athlete Name", ascending = False)

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
8705,5787,zer Atei,M,25.0,180.0,72.0,Turkey,TUR,1968,Grenoble,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
8704,5787,zer Atei,M,25.0,180.0,72.0,Turkey,TUR,1968,Grenoble,Alpine Skiing,Alpine Skiing Men's Downhill,NaN
8706,5787,zer Atei,M,25.0,180.0,72.0,Turkey,TUR,1968,Grenoble,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
15623,122902,yvind Tveter,M,25.0,190.0,89.0,Norway,NOR,1980,Lake Placid,Speed Skating,"Speed Skating Men's 10,000 metres",NaN
15622,122902,yvind Tveter,M,25.0,190.0,89.0,Norway,NOR,1980,Lake Placid,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44053,12407,Aaron Blunck,M,17.0,180.0,78.0,United States,USA,2014,Sochi,Freestyle Skiing,Freestyle Skiing Men's Halfpipe,NaN
3799,49758,Aarne Vin Edward Honkavaara,M,27.0,184.0,81.0,Finland,FIN,1952,Oslo,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN
15975,13348,"Aaltje Grietje ""Alie"" Boorsma",F,24.0,179.0,75.0,Netherlands,NED,1984,Sarajevo,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
15974,13348,"Aaltje Grietje ""Alie"" Boorsma",F,24.0,179.0,75.0,Netherlands,NED,1984,Sarajevo,Speed Skating,Speed Skating Women's 500 metres,NaN
2788,56427,Aage Justesen,M,30.0,NaN,NaN,Denmark,DEN,1948,Sankt Moritz,Speed Skating,Speed Skating Men's 500 metres,NaN

In [29]:
## sort city and year
# long ago to now

dfw.sort_values(by = ["City", "Year"], ascending = False)

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
39271,121,Muhammad Abbas,M,23.0,168.0,55.0,Pakistan,PAK,2010,Vancouver,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
39272,145,Jeremy Abbott,M,24.0,175.0,70.0,United States,USA,2010,Vancouver,Figure Skating,Figure Skating Men's Singles,NaN
39273,452,Enver Nazymovych Ablaiev,M,30.0,169.0,68.0,Ukraine,UKR,2010,Vancouver,Freestyle Skiing,Freestyle Skiing Men's Aerials,NaN
39274,532,Iason Abramashvili,M,21.0,176.0,82.0,Georgia,GEO,2010,Vancouver,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
39275,532,Iason Abramashvili,M,21.0,176.0,82.0,Georgia,GEO,2010,Vancouver,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24010,135447,Matja Zupan,M,23.0,179.0,60.0,Slovenia,SLO,1992,Albertville,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
24011,135464,Heidi Zurbriggen (-Andenmatten),F,24.0,167.0,64.0,Switzerland,SUI,1992,Albertville,Alpine Skiing,Alpine Skiing Women's Downhill,NaN
24012,135464,Heidi Zurbriggen (-Andenmatten),F,24.0,167.0,64.0,Switzerland,SUI,1992,Albertville,Alpine Skiing,Alpine Skiing Women's Super G,NaN
24013,135464,Heidi Zurbriggen (-Andenmatten),F,24.0,167.0,64.0,Switzerland,SUI,1992,Albertville,Alpine Skiing,Alpine Skiing Women's Giant Slalom,NaN
24014,135464,Heidi Zurbriggen (-Andenmatten),F,24.0,167.0,64.0,Switzerland,SUI,1992,Albertville,Alpine Skiing,Alpine Skiing Women's Combined,NaN

In [34]:
dfs["Season"] = "Summer"
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222552 entries, 0 to 222551
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            222552 non-null  int64
 1   Athlete Name  222552 non-null  object
 2   Sex           222552 non-null  object
 3   Age           213363 non-null  float64
 4   Height        170695 non-null  float64
 5   Weight        168698 non-null  float64
 6   Team          222552 non-null  object
 7   NOC           222552 non-null  object
 8   Year          222552 non-null  int64
 9   City          222552 non-null  object
 10  Sport         222552 non-null  object
 11  Event         222552 non-null  object
 12  Medal         34088 non-null   object
 13  Season        222552 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 23.8+ MB

In [36]:
dfw["Season"] = "Winter"
dfw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48564 entries, 0 to 48563
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            48564 non-null  int64
 1   Athlete Name  48564 non-null  object
 2   Sex           48564 non-null  object
 3   Age           48279 non-null  float64
 4   Height        40250 non-null  float64
 5   Weight        39543 non-null  float64
 6   Team          48564 non-null  object
 7   NOC           48564 non-null  object
 8   Year          48564 non-null  int64
 9   City          48564 non-null  object
 10  Sport         48564 non-null  object
 11  Event         48564 non-null  object
 12  Medal         5695 non-null   object
 13  Season        48564 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 5.2+ MB

In [37]:
dfs

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
0,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN,Winter
1,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN,Winter
2,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN,Winter
3,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN,Winter
4,4113,Anastasios Andreou,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Athletics,Athletics Men's 110 metres Hurdles,NaN,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222547,135528,Marc Zwiebler,M,32.0,181.0,75.0,Germany,GER,2016,Rio de Janeiro,Badminton,Badminton Men's Singles,NaN,Winter
222548,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 100 metres,NaN,Winter
222549,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 200 metres,NaN,Winter
222550,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 4 x 100 metres Relay,NaN,Winter
222551,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN,Winter

In [41]:
dfs.columns == dfw.columns
list(dfs.columns) == list(dfw.columns)

True

In [45]:
df = pd.concat([dfs, dfw], ignore_index = True)
df

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
0,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN,Winter
1,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN,Winter
2,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN,Winter
3,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN,Winter
4,4113,Anastasios Andreou,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Athletics,Athletics Men's 110 metres Hurdles,NaN,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135485,Stepan Olegovich Zuyev,M,25.0,189.0,90.0,Russia,RUS,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN,Winter
271112,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN,Winter
271113,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN,Winter
271114,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN,Winter
271115,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN,Winter

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            271116 non-null  int64
 1   Athlete Name  271116 non-null  object
 2   Sex           271116 non-null  object
 3   Age           261642 non-null  float64
 4   Height        210945 non-null  float64
 5   Weight        208241 non-null  float64
 6   Team          271116 non-null  object
 7   NOC           271116 non-null  object
 8   Year          271116 non-null  int64
 9   City          271116 non-null  object
 10  Sport         271116 non-null  object
 11  Event         271116 non-null  object
 12  Medal         39783 non-null   object
 13  Season        271116 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 29.0+ MB

In [48]:
df["Medal"].unique()

array([nan, 'Silver', 'Gold', 'Bronze'], dtype=object)

In [49]:
df["Sex"].unique()

array(['M', 'F'], dtype=object)

In [51]:
df["Sex"] = df["Sex"].astype("category")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            271116 non-null  int64
 1   Athlete Name  271116 non-null  object
 2   Sex           271116 non-null  category
 3   Age           261642 non-null  float64
 4   Height        210945 non-null  float64
 5   Weight        208241 non-null  float64
 6   Team          271116 non-null  object
 7   NOC           271116 non-null  object
 8   Year          271116 non-null  int64
 9   City          271116 non-null  object
 10  Sport         271116 non-null  object
 11  Event         271116 non-null  object
 12  Medal         39783 non-null   object
 13  Season        271116 non-null  object
dtypes: category(1), float64(3), int64(2), object(8)
memory usage: 27.1+ MB

In [54]:
df[["Medal", "Season"]] = df[["Medal", "Season"]].astype("category")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            271116 non-null  int64
 1   Athlete Name  271116 non-null  object
 2   Sex           271116 non-null  category
 3   Age           261642 non-null  float64
 4   Height        210945 non-null  float64
 5   Weight        208241 non-null  float64
 6   Team          271116 non-null  object
 7   NOC           271116 non-null  object
 8   Year          271116 non-null  int64
 9   City          271116 non-null  object
 10  Sport         271116 non-null  object
 11  Event         271116 non-null  object
 12  Medal         39783 non-null   category
 13  Season        271116 non-null  category
dtypes: category(3), float64(3), int64(2), object(6)
memory usage: 23.5+ MB

In [56]:
## df that holds only Sochi
df_sochi = df.query('City == "Sochi"')
df_sochi

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
266225,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze,Winter
266226,126,Forough Abbasi,F,20.0,164.0,58.0,Iran,IRI,2014,Sochi,Alpine Skiing,Alpine Skiing Women's Slalom,NaN,Winter
266227,145,Jeremy Abbott,M,28.0,175.0,70.0,United States,USA,2014,Sochi,Figure Skating,Figure Skating Men's Singles,NaN,Winter
266228,145,Jeremy Abbott,M,28.0,175.0,70.0,United States,USA,2014,Sochi,Figure Skating,Figure Skating Mixed Team,Bronze,Winter
266229,463,Agnese boltia,F,17.0,166.0,60.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Women's Super G,NaN,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135485,Stepan Olegovich Zuyev,M,25.0,189.0,90.0,Russia,RUS,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN,Winter
271112,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN,Winter
271113,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN,Winter
271114,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN,Winter
271115,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN,Winter

In [60]:
df_abbot = df.query("`Athlete Name` == 'Jeremy Abbott'")
df_abbot

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
91003,146,Jeremy Abbott,M,19.0,179.0,71.0,Canada,CAN,1976,Montreal,Canoeing,"Canoeing Men's Canadian Doubles, 1,000 metres",NaN,Winter
261824,145,Jeremy Abbott,M,24.0,175.0,70.0,United States,USA,2010,Vancouver,Figure Skating,Figure Skating Men's Singles,NaN,Winter
266227,145,Jeremy Abbott,M,28.0,175.0,70.0,United States,USA,2014,Sochi,Figure Skating,Figure Skating Men's Singles,NaN,Winter
266228,145,Jeremy Abbott,M,28.0,175.0,70.0,United States,USA,2014,Sochi,Figure Skating,Figure Skating Mixed Team,Bronze,Winter

In [64]:
df_1984 = df.query("Year == 1984")
df_1984

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
106830,27,Johan Aantjes,M,26.0,NaN,NaN,Netherlands,NED,1984,Los Angeles,Water Polo,Water Polo Men's Water Polo,NaN,Winter
106831,85,Alejandro Abascal Garca,M,32.0,181.0,82.0,Spain,ESP,1984,Los Angeles,Sailing,Sailing Mixed Two Person Heavyweight Dinghy,NaN,Winter
106832,86,Jos Manuel Abascal Gmez,M,26.0,182.0,67.0,Spain,ESP,1984,Los Angeles,Athletics,"Athletics Men's 1,500 metres",Bronze,Winter
106833,89,Rodrigo Abasolo,M,21.0,NaN,NaN,Chile,CHI,1984,Los Angeles,Rowing,Rowing Men's Coxed Eights,NaN,Winter
106834,94,Ral Abatte,M,38.0,NaN,NaN,Chile,CHI,1984,Los Angeles,Shooting,Shooting Mixed Trap,NaN,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240487,135465,Pirmin Zurbriggen,M,21.0,183.0,83.0,Switzerland,SUI,1984,Sarajevo,Alpine Skiing,Alpine Skiing Men's Downhill,NaN,Winter
240488,135465,Pirmin Zurbriggen,M,21.0,183.0,83.0,Switzerland,SUI,1984,Sarajevo,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN,Winter
240489,135465,Pirmin Zurbriggen,M,21.0,183.0,83.0,Switzerland,SUI,1984,Sarajevo,Alpine Skiing,Alpine Skiing Men's Slalom,NaN,Winter
240490,135495,Nenad vanut,M,21.0,172.0,78.0,Yugoslavia,YUG,1984,Sarajevo,Speed Skating,Speed Skating Men's 500 metres,NaN,Winter
240491,135495,Nenad vanut,M,21.0,172.0,78.0,Yugoslavia,YUG,1984,Sarajevo,Speed Skating,"Speed Skating Men's 1,000 metres",NaN,Winter

In [67]:
### return all the competitions between 1920 and 1950 (inclusive)

df.query("1920 <= Year <=1950")

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
12491,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920,Antwerpen,Football,Football Men's Football,NaN,Winter
12492,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze,Winter
12493,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze,Winter
12494,25,Alf Lied Aanning,M,24.0,NaN,NaN,Norway,NOR,1920,Antwerpen,Gymnastics,"Gymnastics Men's Team All-Around, Free System",Silver,Winter
12495,38,Karl Jan Aas,M,20.0,NaN,NaN,Norway,NOR,1920,Antwerpen,Gymnastics,"Gymnastics Men's Team All-Around, Free System",Silver,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225911,135383,Annelore Zckert (-Zrost),F,22.0,NaN,NaN,Austria,AUT,1948,Sankt Moritz,Alpine Skiing,Alpine Skiing Women's Downhill,NaN,Winter
225912,135383,Annelore Zckert (-Zrost),F,22.0,NaN,NaN,Austria,AUT,1948,Sankt Moritz,Alpine Skiing,Alpine Skiing Women's Slalom,NaN,Winter
225913,135463,Hans Zurbriggen,M,27.0,NaN,NaN,Switzerland,SUI,1948,Sankt Moritz,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN,Winter
225914,135466,Robert Zurbriggen,M,30.0,NaN,NaN,Switzerland,SUI,1948,Sankt Moritz,Cross Country Skiing,Cross Country Skiing Men's 18 kilometres,NaN,Winter
225915,135466,Robert Zurbriggen,M,30.0,NaN,NaN,Switzerland,SUI,1948,Sankt Moritz,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN,Winter

In [72]:
#between 1972 and as recent as possible 
#has only tennis
#and only women

df.query("(1972 < Year) &\
(Sport == 'Tennis')\
& (Sex == 'F')")

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
117084,8485,Carling Kathrin Bassett-Seguso,F,20.0,168.0,54.0,Canada,CAN,1988,Seoul,Tennis,Tennis Women's Singles,NaN,Winter
117085,8485,Carling Kathrin Bassett-Seguso,F,20.0,168.0,54.0,Canada,CAN,1988,Seoul,Tennis,Tennis Women's Doubles,NaN,Winter
117087,8522,"Nani Rahayu ""Yayuk"" Basuki-Suharyadi",F,17.0,165.0,55.0,Indonesia,INA,1988,Seoul,Tennis,Tennis Women's Singles,NaN,Winter
117267,10449,Ilana Berger,F,22.0,169.0,63.0,Israel,ISR,1988,Seoul,Tennis,Tennis Women's Singles,NaN,Winter
117560,13918,Oarda Bouchabou,F,18.0,NaN,NaN,Algeria,ALG,1988,Seoul,Tennis,Tennis Women's Singles,NaN,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222126,132098,Xu Yifan,F,27.0,165.0,60.0,China-2,CHN,2016,Rio de Janeiro,Tennis,Tennis Women's Doubles,NaN,Winter
222443,134544,Zhang Shuai,F,27.0,177.0,66.0,China,CHN,2016,Rio de Janeiro,Tennis,Tennis Women's Singles,NaN,Winter
222444,134544,Zhang Shuai,F,27.0,177.0,66.0,China-1,CHN,2016,Rio de Janeiro,Tennis,Tennis Women's Doubles,NaN,Winter
222475,134739,Zheng Saisai,F,22.0,170.0,62.0,China,CHN,2016,Rio de Janeiro,Tennis,Tennis Women's Singles,NaN,Winter
222476,134739,Zheng Saisai,F,22.0,170.0,62.0,China-2,CHN,2016,Rio de Janeiro,Tennis,Tennis Women's Doubles,NaN,Winter

In [80]:
df_gold = df.query("Medal == 'Gold'")
df_gold

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
6,4189,Nikolaos Andriakopoulos,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Gymnastics,Gymnastics Men's Rope Climbing,Gold,Winter
19,12563,Conrad Helmut Fritz Bcker,M,25.0,NaN,NaN,Germany,GER,1896,Athina,Gymnastics,"Gymnastics Men's Parallel Bars, Teams",Gold,Winter
21,12563,Conrad Helmut Fritz Bcker,M,25.0,NaN,NaN,Germany,GER,1896,Athina,Gymnastics,"Gymnastics Men's Horizontal Bar, Teams",Gold,Winter
24,12929,John Mary Pius Boland,M,25.0,NaN,NaN,Great Britain,GBR,1896,Athina,Tennis,Tennis Men's Singles,Gold,Winter
25,12929,John Mary Pius Boland,M,25.0,NaN,NaN,Great Britain/Germany,GBR,1896,Athina,Tennis,Tennis Men's Doubles,Gold,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271007,133782,Ruslan Albertovich Zakharov,M,26.0,173.0,72.0,Russia,RUS,2014,Sochi,Short Track Speed Skating,"Short Track Speed Skating Men's 5,000 metres R...",Gold,Winter
271049,134463,Zhang Hong,F,25.0,174.0,65.0,China,CHN,2014,Sochi,Speed Skating,"Speed Skating Women's 1,000 metres",Gold,Winter
271072,134824,Zhou Yang,F,22.0,165.0,62.0,China,CHN,2014,Sochi,Short Track Speed Skating,"Short Track Speed Skating Women's 1,500 metres",Gold,Winter
271106,135343,Aleksandr Yuryevich Zubkov,M,39.0,189.0,102.0,Russia-1,RUS,2014,Sochi,Bobsleigh,Bobsleigh Men's Two,Gold,Winter
271107,135343,Aleksandr Yuryevich Zubkov,M,39.0,189.0,102.0,Russia-1,RUS,2014,Sochi,Bobsleigh,Bobsleigh Men's Four,Gold,Winter

In [81]:
## 10 countries with the most gold 
df_gold.value_counts("Team").to_frame("Number Gold Medals").head(10)

               Number Gold Medals
Team
United States                2474
Soviet Union                 1058
Germany                       679
Italy                         535
Great Britain                 519
France                        455
Sweden                        451
Hungary                       432
Canada                        422
East Germany                  369

In [83]:
## return as percent

(df_gold.value_counts("Team", normalize = True)*100).to_frame("PCT Gold medals").head(10)

               PCT Gold medals
Team
United States        18.501346
Soviet Union          7.912055
Germany               5.077774
Italy                 4.000897
Great Britain         3.881244
France                3.402632
Sweden                3.372719
Hungary               3.230631
Canada                3.155848
East Germany          2.759497

In [84]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!